@import "src/@core/scss/base/bootstrap-extended/_variables.scss";

.btn-circle {
  height: 150px;
  width: 150px;
  background-color: $primary;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn-circle:hover {
  box-shadow: 0 8px 25px -8px #008c78;
}

.fade {
  transition: 0.4s all ease-in-out;
}

.pr-1 {
  padding-right: 10px;
}

.border-left-cus {
  border-left: 1px solid rgba(34, 41, 47, 0.125);
}

@media only screen and (max-width: 768px) {
  .border-left-cus {
    border-left: none;
  }

  .border-bottom-cus {
    border-bottom: 1px solid rgba(34, 41, 47, 0.125);
  }
}